h1, h2, h3, h3, h4, h5, h6 {
    font-weight: lighter;
}

.form-horizontal > input.form-control[type="number"] {
    display: inline;
    width: 100px;
}

table.maze {
    margin-bottom: 15px;
}
table.maze td {
    width: 20px;
    height: 20px;
    border: 0 solid darkslategray;
}

#BattleSudoku {
    text-align: center;
}
#BattleSudoku .board {
    margin: auto;
}
#BattleSudoku .board th {
    text-align: center;
    vertical-align: middle;
    width: 2em;
    height: 2em;
}
#BattleSudoku .board td {
    border: 1px solid rgba(40, 120, 220, 0.7);
    width: 2em;
    height: 2em;
}
#BattleSudoku .board td:hover {
    background: rgba(40, 120, 220, 0.3);
}
#BattleSudoku .board td.empty {
    background: rgba(40, 120, 220, 0.95);
}
#BattleSudoku .board td.fill {
    background: #999;
}
