<h1>Mazes</h1>

<table class="maze">
    <tbody>
    <tr data-ng-repeat="row in maze">
        <td data-ng-repeat="cell in row" data-maze-cell="cell"></td>
    </tr>
    </tbody>
</table>

<form class="form-horizontal">
    <label class="form-control-static" for="width">width</label>
    <input class="form-control" id="width" type="number" min="3" data-ng-model="config.width" />

    <label class="form-control-static" for="height">height</label>
    <input class="form-control" id="height" type="number" min="3" data-ng-model="config.height" />
</form>
